body{
  margin: 0;
  padding: 0;
  background: url('../img/layout-2bg.png');
  width: 100%;
  background-size: cover;
}
@font-face {
    font-family: 'Inter-Black';
    src: url('./fonts/Inter-Black.ttf');
}
@font-face {
    font-family: 'Inter-Regular';
    src: url('./fonts/Inter-Regular.ttf');
}
@font-face {
    font-family: 'gtflex';
    src: url('fonts/gtflexaallneu7gx_2.ttf');
}
@font-face{
    font-family: 'sanchezbold-webfont';
    src: url('fonts/sanchez-bold-webfont.ttf');
}
@font-face{
    font-family: 'Sanchezregular';
    src: url('fonts/Sanchezregular.otf');
}
@font-face{
    font-family: 'BADABB';
    src: url('fonts/BADABB__.TTF');
}
@font-face{
    font-family: 'Oswald-SemiBold';
    src: url('fonts/Oswald-SemiBold.ttf');
}
@font-face{
    font-family: 'Oswald-Bold';
    src: url('fonts/Oswald-Bold.ttf');
}


/* Screen 2 Css*/
.layout2-bg{
  padding-top: 20px;
}
.layout-container{
  max-width: 1200px;
  margin: auto;
  padding:0px 15px;
}
.screen-content{
  padding: 100px 0px;
}
.layout-row{
  display: flex;
}
.colum-6{
  width: 50%;
}
.card-tagline h3{ 
   font-family: 'gtflex';
    color: #fff;
    font-size: 98px;
    margin-top: 0;
    letter-spacing: 3px;
    font-weight: 300;
    line-height: 104px;
    padding: 0px 20px;
    animation: fade-in-down 2s ease;    
} 
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.info-card{
  background: url('../img/infocard-g.png');
  min-height: 440px;
  background-size: cover;
  display: flow-root;
  border-radius: 0px 0px 10px 10px;
  margin-top: 120px;
}
.usrImg{
  text-align: center;
  width: 120px;
  height: 120px;
  margin: auto; 
  background-image:linear-gradient(to right, #3a3fdf , #dc3981);
  padding: 5px;
  border-radius: 100%;
  box-shadow: 1px 1px 12px #cccccc73;
    margin-top: -52px;
}
.usrImg img{
  border-radius: 100%;
  width: 100%;
  height: 100%;
    animation: pulse 1s infinite ease-in-out alternate;
}
@keyframes pulse {
  from { transform: scale(0.9); }
  to { transform: scale(1.1); }
}


.cup-icon img{
    animation: bounce 2s ease;  
}
@keyframes bounce {
   70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}
.info-card p{
  text-align: center;
  font-size: 28px;
  color: #fff;
    font-family: 'Inter-Regular';
    margin-top: 14px;
}
.info-card h2{
  text-align: center;
    color: #fff;
    font-family: 'Inter-Black';
    font-size: 50px;
    margin-top: 101px;
  animation: float 2s steps(22), blink .5s step-end alternate;
}
@keyframes float {
  0%,100%{ transform:translate(0); }
  25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
  50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
}
/****************************
      Trekking Screen
****************************/
.themed-screen2{
    background: url('../img/trekking-img/trekking-bg.png');
    width: 100%;
    background-size: cover;  
    background-position: bottom;
    padding-top: 100px;
    position: absolute;
    height: 100%;
}
.themd-screen2-heading h3{
    color: #fff;
    font-family: 'sanchezbold-webfont';   
    font-size: 118px;
    line-height: 133px;
    margin-bottom: 0;
}
.themd-screen2-heading h5{
    color: #281d23;
    font-family: 'sanchezbold-webfont';
    font-size: 39px;
    max-width: 364px;
    margin-top: 20px;    
}
.themd-screen2-heading p{
    font-family: 'Sanchezregular';  
    color: #fff;
    font-size: 29px;
    margin-top: 100px;
    font-weight: 500;
}
.block{
    display: block;
}
/***vs card 1 ****/
.d-flex{
    display: flex;
}
.left-media {
    width: 33%;
}
.themed-screen2-vs1{
    background: url('../img/trekking-img/wood_2.png');
    background-size: 100% 100%;
    width: 100%;
}
.themed-screen2-vs1 .media-caption span{
    color: #281d23;
    font-family: 'sanchezbold-webfont';
    font-size: 33px;
    display: block;
}
.left-media img {
    height: 190px;
    border-radius: 100%;
    border: 5px solid #5a391a;
    box-shadow: 1px 1px 6px #545454;
}
.media-caption{
    width: 76%;
    padding:20px 30px;
}
.deals-numbers{
    color: #fff;
    font-size: 30px;
    font-family: 'sanchezbold-webfont';
    margin-top: -10px;
}
.deals-numbers strong{
    font-size: 55px;
    position: relative;
    top: 4px;    
}
.deal-persontage {
    background: #5a391a;
    height: 10px;
    border-radius: 10px;
    margin-left: -10px;
}
.deal-persontage div{
    height: 10px;
    background: #fff;
    border-radius: 10px;
}
.media-caption p{
    color: #000000;
    font-size: 15px;
    font-family: 'sanchezbold-webfont';
    margin: 0;
    padding-top: 12px;
}
.vs-tagline {
    background: #341e0e;
    text-align: center;
    width: 140px;
    height: 140px;
    margin: auto;
    border-radius: 100%;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 1px 1px 8px #00000085;
    margin-top: -12px;
    z-index: 999;
    position: relative;
}
.vs-tagline h1{
    font-family: 'sanchezbold-webfont';
    font-size: 58px;
}
.screen2-vs2 {
    background: url(../img/trekking-img/wood_1.png);
    background-size: 100% 100%;
    width: 100%;    
    margin-top: -28px;
    margin-left: 30px;
}
.screen2-vs2{
    position: relative;
}
.screen2-vs2 .media-caption {
    padding-left: 81px;
}
.box-devider{
    position: relative;
}
.box-devider:before{
    content: '';
    position: absolute;
    background: url('../img/trekking-img/arrow-line.png');
    width: 50px;
    height: 50%;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}
/****************************
      Comics Screen
****************************/
.themed-comics-main{
    background: url('../img/comics-img/bgimg.png');
    width: 100%;
    background-size: cover;  
    background-position: bottom;
    padding-top: 60px;
    position: absolute;
    height: 100%;    
    padding-bottom: 100px;
}
.top-heading{
    text-align: center;
}
.top-heading h3{  
    font-family: 'BADABB';
    color: #000;
    text-align: center;
    font-size: 100px;
    letter-spacing: 2px;
    margin: 0px;
}
.top-heading p{
    font-family: 'BADABB';
    color: #fff;
    font-size: 34px;
    letter-spacing: 1px;
    margin-top: 13px;
}
.comics-bg{
    background: url('../img/comics-img/card1.png');
    width: 100%;
    background-size: 100% 100%;  
    height: 100%;
    padding-bottom: 20px;
}
.comics-card{
    text-align: center;
}
.comics-media{
    height: 200px;
    width: 200px;
    margin: auto;
    border: 4px solid #ffbf3c;
    border-radius: 100%;
    padding:5px;
    box-shadow: 1px 1px 15px #ccc;
    margin-bottom: 15px;
    margin-top: -75px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.comics-media img{
    height: 200px;
    border-radius: 100%;
    width: 200px;   
}
.comics-caption{
    padding: 0px 80px;
}
.comics-card strong{
    color: #000;
    font-family: 'BADABB';
    font-size: 37px;
    padding-bottom: 5px;
    display: block;
    letter-spacing: 2px;
}
.comics-card h2{
    color: #3ecdc7;
    margin: 0;
    font-size: 100px;
    font-family: 'BADABB';
}
.comics-card h3{
    color: #008b82;
    margin: 0;
    font-size: 33px;
    font-family: 'BADABB';
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.mt-100{
    margin-top: 100px;
}
.comics-deals{
    background: #6e3811;
    height: 20px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}
.comics-deals div{
    background: #ffe23c;
    height: 20px;
    border-radius: 20px;
}
.comics-caption h4{
    font-family: 'BADABB';
    margin: 0 0;
    font-size: 33px;    
}
.comics-container{
    max-width: 1100px;
}
.minus-margin{
    margin-top: -40px;
}
.themed-comics-main .colum-6 {
    margin: 0 25px;
}
.comics-vs-img{
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    bottom: 0;
    justify-content: center;
    align-items: center;
    margin:auto;
    display: flex;
    max-width: 340px;
    height: 258px;
}
.comics-vs-img img{
    width: 350px;
}
.tagline-bottom{
    text-align: center;
    margin-top: 60px;
}
.tagline-bottom h3{
    font-family: 'BADABB';   
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
}
.tagline-bottom h3 img{
    position: relative;
    top: 3px;
    margin-right: 15px;
}

/*********** Goal Tracker layout5  ***********/
.goal-traker5-main{
    background: url('../img/goal-tracker5-img/Themed-Goal-Tracker-bg.png') !important;
    width: 100%;
    background-size: cover;  
    position: absolute;
    height: 100%;    
    padding-top: 50px;
}
.colum-3 {
    width: 25%;
}
.goal-traker5-heading{
    text-align: center;
}
.goal-traker5-heading h3{
    font-family: 'Oswald-SemiBold';
    font-size: 65px;
    color: #60803d;
    margin-top: 0;
}
.goaltraker5-usercard{
    background: #fff;
    padding:10px 30px;
    border-radius: 20px;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 35px;
}
.goaltraker5-userprofile{
    border: 15px solid #63934e;
    height: 180px;
    width: 180px;
    margin: auto;
    border-radius:100%;
    padding:10px;
}
.goaltraker5-userprofile img{
    height: 180px;
    border-radius: 100px;
    width: 180px;
}
.goaltraker5-caption{
    margin-top: 10px;
    border-bottom: 2px solid #eab8a9;
}
.goaltraker5-caption h4{
    font-family: 'Oswald-SemiBold';
    font-size: 25px;
    line-height: 33px;
    color: #ca4e28;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 15px;
}
.goaltraker5-revenuecard{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    background: #fff;
    margin: 0px 40px;
    border-radius: 20px;
    padding: 60px 0px;
}
.goaltraker5-revenuecaption h4{
    font-family: 'Oswald-Bold';
    font-size: 37px;
    text-transform: uppercase;
    color: #60803d;
    margin: 0;
}
.goaltraker5-price{
    border-top: 2px solid #5f803d;
    border-bottom: 2px solid #5f803d;        
    margin: 30px 0px;
}
.goaltraker5-price h1{
    font-family: 'Oswald-SemiBold';
    color: #ca4e28;
    font-size: 80px;
    margin: 0;
    padding: 10px 0px;
}
.single-chart {
  width: 96%;
  margin: auto;
  position: relative;
}
.circular-chart {
  display: block;
  margin: auto;
  width: 100%;
  max-height: 250px;
}
.circle-bg {
  fill: none;
  stroke: #f6911b;
  stroke-width: 3.8;
}
.circle {
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
.circular-chart.blue .circle {
  stroke: #da4311;
}
.goaltraker5-target-circle .percentage{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}
.goaltraker5-target-circle .percentage span{
    display: block;
    font-size: 53px;
    font-family: 'Oswald-Bold';
    color: #ca4e28;    
    line-height: 60px;
}
.goaltraker5-target-circle .percentage p{
    font-family: 'Oswald-Bold';
    color: #f69423;       
    text-transform: uppercase;
    margin: 0;
    max-width: 100px;
    font-size: 13px;
    text-align: center;
}



/* Media query */
@media only screen and (max-width: 767px){
body{
    background-size: cover;
    background-position: top; 
}
.layout-row{
  display: block;
}
.colum-6{
  width: 100%;
}
.info-card{
  width: 100%
}
.layout-container{
  max-width: 100%;
  padding: 0px 0px;
}
.screen-content {
    padding: 20px 20px;
}
.card-tagline h3 {
    font-size: 88px;
    line-height: 95px;
    margin-top: 28px;
}
.info-card {
    width: 100%;
    background-size: 100% 100%;
    min-height: auto;
    padding-bottom: 56px;
}
.info-card h2{
  font-size: 41px;
    margin-top: 0;
    line-height: 26px;  
}
.themd-screen2-heading h3{
    font-size: 62px;
    line-height: 95px;        
    padding-top: 42px;
}
.vs-tagline{
    width: 75px;
    height: 75px;    
}
.vs-tagline h1 {
    font-size: 29px;
}
.screen2-vs2{
    margin-left: 0;    
}
.themed-screen2  .media-caption p{
    padding-top: 7px;
    font-size: 12px;
}
.screen2-vs2{    
    margin-top: -23px;
}
.left-media img{
    height: 75px;
}
.themed-screen2-vs1 .media-caption span{
    font-size: 19px;    
}
.deals-numbers strong{
    font-size: 24px;    
}
.deals-numbers{
    font-size: 17px;    
}
.themed-screen2{
    height: auto;
    padding-bottom: 100px;
}
.themd-screen2-heading p{
    margin-top: 0;    
}
.themed-screen2 .layout-container{
    padding: 0px 23px;
}
.themed-screen2-vs1 .left-media{
    margin-top: 14px;
}
.screen2-vs2 img{
    margin-top: 12px;
}
.screen2-vs2 .media-caption {
    padding-left: 25px;
}
.media-caption {
    padding: 20px 13px;
}
.box-devider:before{
    bottom: -70px;    
}
/****** Comics mobileview css **********/

.top-heading h3{
    font-size: 52px;    
}
.top-heading p{
    font-size: 17px;    
}
.themed-comics-main .colum-6 {
    margin: 0;
}
.comics-media{
    height: 140px;
    width: 140px;    
}
.comics-media img{
    height: 140px;
    width: 140px;    
}
.minus-margin {
    margin-top: 110px;
}
.comics-vs-img{
    display: none;
}
.themed-comics-main{
    height: auto;
    padding-bottom: 40px;
}
.comics-container{
    padding: 0px 20px;    
}
.comics-caption h4{
    font-size: 24px;    
}
.comics-card h2{
    font-size: 80px;    
}

/*********** Goal Tracker layout5  ***********/

.goal-traker5-heading h3{
    font-size: 32px;    
}
.colum-3{
    width: 100%;
}
.goaltraker5-revenuecard{
    margin: 25px 0px;
}
.goal-traker5-main .layout-container{
    padding: 0px 15px;    
}
.goal-traker5-main{
    height: auto;
    padding-bottom: 50px;
    background-size: cover;
}
.goaltraker5-price h1{
    font-size: 56px;    
}
.goaltraker5-revenuecaption h4{
    font-size: 24px;    
}




} /* mobile view */

@media(min-width:768px) and (max-width: 1024px){
.card-tagline h3{
    font-size: 84px;
  line-height: 103px;
    margin-top: 22px; 
}
.info-card{
    background-size: 100%;
    min-height: auto;
    padding-bottom: 100px;
    background-repeat: no-repeat;
}
.info-card h2 {
    font-size: 41px;
    margin-top: 9px;
    line-height: 23px;
}
.themed-screen2 .layout-row{
    display: block;
}
.themed-screen2 .colum-6{
    width: 100%;
}
.themed-screen2{
    height: auto;
    padding-bottom: 100px;
}
.themed-screen2 .layout-container{
    padding: 0px 40px;    
}
.box-devider:before{
    bottom: -70px;    
}
.comics-vs-img img {
    width: 231px;
}
.comics-vs-img {
    top: 30%;
    bottom: inherit;
}
.comics-media{
    height: 140px;
    width: 140px;    
}
.comics-media img{
    height: 140px;
    width: 140px;    
}
.comics-caption {
    padding: 0px 40px;
}
.comics-caption h4{
    font-size: 25px;    
}
.comics-card h2{
    font-size: 76px;    
}
.minus-margin {
    margin-top: -20px;
}

.colum-3{
    width: 100%;
}
.colum-6 {
    width: 100%;
}
.goal-traker5-main .layout-row {
    display: block;
}
.goaltraker5-revenuecard{
    margin: 20px 0px;    
}
.goal-traker5-main{
    height: auto;
    padding-bottom: 30px;
}



} /*ipad screen*/


@media(min-width:1919px) and (max-width: 5120px){

.layout-container{
    max-width: 1700px;
}
.info-card{
    background-repeat: no-repeat;
    min-height: 550px;
    background-size: 100%;
    position: relative;
}
.info-card h2{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 63px;
    align-items: center;
    justify-content: center;
    display: flex;  
    margin-top:   0px;
    font-size: 63px;
}
.info-card p{
    margin-top: 36px !important;
    max-width: 450px;
    margin:auto;  
}

.screen2-vs2{
    margin-top: -27px;    
}
.left-media img{
    height: 209px;    
}
.comics-container{
    max-width: 1000px;
}
.comics-vs-img{
    top: -23%;    
}
.comics-vs-img img {
    width: 280px;
}
.goal-traker5-main .layout-container{
    max-width: 1200px;    
}
.goaltraker5-price h1{
    font-size: 73px;
}

}
